{% extends 'main/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="text-center col-12 mt-3">
    <h2 class="font-weight-bold">So many books, so little time.</h2>
    <span class="lead">Below you can find books recommendations on programming, data science, business and psychology.</span>
    <br><br>
    <hr/>

</div>


<div class="col-12">

    {% for book in books %}
    <div class="row mt-3">
        <div class="post bg-white p-4 col-3 mt-4">
            {% if book.book_image %}
            <div><a class="float-right">
                    <img class="border rounded " src="{{ book.book_image.url|default_if_none:'#' }}" alt="" width="170px"
                        height="260px"> </a>
            </div>
            {% endif %}
        </div>
        <div class="post bg-white p-4 col-9 ">
            <h2 class="blog-post-h2 mt-2 ">
                {{ book.title }}</h2>
            <p class="mt-2 text-justify">{{ book.description|linebreaksbr }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}