{% extends 'main/base.html' %}
{% block content %}
{% load staticfiles %}

<section id="landing_page" class="col-12 mt-5 text-center">
        <h1 class="font-weight-bold">So many books, so little time</h1>
        <span class="mb-5" >Below you can find books recommendations on programming data science, business and
            psychology.<br><br></span>
    <img src="/static/images/book_page_landing.png" class="img-fluid " alt="Responsive image">

</section>

<div class="col-12 mt-5">
    {% for book in books %}
    <div class="row">
        <div class="post bg-white col-3 ">
            {% if book.book_image %}
            <div><a class="float-right">
                    <img class="border rounded " src="{{ book.book_image.url|default_if_none:'#' }}" alt=""
                        width="170px" height="260px"> </a>
            </div>
            {% endif %}
        </div>
        <div class="post bg-white col-9">
            <h2 class="blog-post-h2 ">
                {{ book.title }}</h2>
            <p class="mt-2 text-justify">{{ book.description|linebreaksbr }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}