{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- About Section -->
<main id="about_me">
    
    <section id="contact_block" class="top-block">
        <div class="container text-center text-justify">
            <h1 class="bd-title mt-2 text-white">About</h1>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-2 order-md-1 ">
                    <img src="{% static 'images/photo_200px.png' %}" class="rounded-circle" alt=""></a>
                </div>
                <div class="col-12 col-md-12 col-lg-10 order-md-2 text-left">
                    <div class="ml-lg-5 lead">
                        <p>
                            Hi, I'm Piotr Szewc an MI & Technology Analyst at HAYS,
                        </p>
                        <p>My background is in computer science but I always loved to discover stories behind the data.
                        </p>
                        <p>
                            For the past few years, I'm working as a Data Analyst. I'm passioned about all tools and
                            apps that can help me understand data better and provide value to the business.
                        </p>
                        <p>
                            At my work, I'm mainly using Tableau, PowerBI, Python, Machine Learning and Excel. I would like
                            to share tips and tricks with you, help you with building up knowledge and accelerate learning.
                        </p>
 
                    </div>
                </div>
            </div>
    </section>


    <section id="contact_form" class="flex-shrink-0 mt-5">
        <div class="content container">
            <div class="row">
                <div class="">
                    <h2>About this blog</h2>
                    <p class="mb-4">I will be posting ideas that I find interesting, contributing to discussion of science/popular
                        writing, linking to articles that inspire me, and sharing advice with up-and-coming data
                        scientists.</p> <hr>
                     </div>
            
                <div class="mt-2 mb-5">
                    
                    <h2>Attributions & Acknowledgements
                    </h2>
                    <p>Icons and Images used on the website are from Freepik, Unsplash.</p>

                </div>

            </div>
        </div>
        </div>
        </div>

    </section>
</main>

{% endblock %}