{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <link rel="icon" href="{% static 'images/favicon-32x32.png' %}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- Local CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>Piotr Szewc - Following the white rabbit.</title>
</head>

<body data-gr-c-s-loaded="true">
  <!-- Header 2 -->
  <header class="container-fluid d-flex justify-content-center border-bottom bg-white ">

  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="my-0 mr-md-auto font-weight-normal pr-3 img_remove_border" href="{% url 'landing_page' %}">
      <img src="{% static 'images/logo.svg' %}" height="50" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item {% if nbar == 'post_list' %}active{% endif %} nav-top">
         <a class="nav-item p-3 text-navblue" href="{% url 'post_list' %}">BLOG</a>
        </li>
        <li class="nav-item  {% if nbar == 'post_list_ds' %}active{% endif %} nav-top">
          <a class="nav-item p-3 text-navblue" href="{% url 'post_list' %}">DATA SCIENCE</a>
         </li>
         <li class="nav-item {% if nbar == 'post_list_dv' %}active{% endif %} nav-top">
          <a class="nav-item p-3 text-navblue " href="{% url 'post_list' %}">DATA VISUALIZATION</a>
        </li>
         <li class="nav-item {% if nbar == 'book_list' %}active{% endif %} nav-top">
          <a class="nav-item p-3 text-navblue " href="{% url 'book_list' %}">RESOURCES</a>

         </li>  <li class="nav-item {% if nbar == 'about_page' %}active{% endif %} nav-top">
          <a class="nav-item p-3 text-navblue  " href="{% url 'about_page' %}">ABOUT</a>
        </li>
      </li>  <li class="nav-item {% if nbar == 'contact_page' %}active{% endif %} nav-top">
        <a class="nav-item ml-3 ml-0-sm rounded p-3 text-navblue btn btn-outline-primary "
          href="{% url 'contact_page' %}" style="font-size: 1.05em;">LET’S TALK</a>
      </li>
      </ul>
  </nav>
  </div>
  </header>


  <!-- Main --->

  {% block content %}
  {% endblock %}

  <!-- End Main --->

  <footer class="footer border-top">
    <div class="container">
      <span>Copyright © 2019 Piotr Szewc</span>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type='text/javascript' src="{% static 'js/main.js' %}"></script>

</body>

</html>