{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- Local CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>Piotr Szewc - Following the white rabbit.</title>
</head>

<body data-gr-c-s-loaded="true">

  <!-- Header --->
  <header class="container-fluid d-flex align-items-center justify-content-center border-bottom ">

    <div class="p-2 row">

      <nav class="my-2 mr-md-auto my-md-0 mr-md-3 nav-top">
        <a class="my-0 mr-md-auto font-weight-normal pr-3 img_remove_border" href="{% url 'post_list' %}">
          <img src="{% static 'images/logo_new.png' %}" height="50" alt=""></a>
        <a class="nav-item p-3 text-navblue" href="{% url 'post_list' %}">BLOG</a>
        <a class="nav-item p-3 text-navblue" href="{% url 'post_list' %}">DATA SCIENCE</a>
        <a class="nav-item p-3 text-navblue" href="{% url 'post_list' %}">DATA VISUALIZATION</a>
        <a class="nav-item p-3 text-navblue" href="{% url 'book_list' %}">BOOKS</a>
        <a class="nav-item p-3 text-navblue" href="{% url 'about_page' %}">ABOUT ME</a>
        <a class="nav-item p-3 text-navblue" href="{% url 'contact_page' %}">LET’S TALK</a>
      </nav>
    </div>
  </header>
  <!-- End Header --->

  <!-- Main --->
  <main role="main" class="flex-shrink-0">
    <div class="content container">
      <div class="row">
        <div class="col-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
  </main>
  <!-- End Main --->

  <footer class="footer border-top">
    <div class="container">
      <span>Copyright © 2019 Piotr Szewc</span>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type='text/javascript' src="{% static 'js/main.js' %}"></script>

</body>

</html>