{% extends 'main/base.html' %}

{% block content %}
<!-- Contact Us Section -->
<div class="mt-5 mb-4 text-center">
    <h1 class="font-weight-bold ">Contact</h1>
</div>

<div class="row">
    <div class="col-6">
        <!-- contact form -->
        <div class="wow animated fadeInRight" data-wow-delay=".2s">


            <p>If you have a potential enquiry about data visualisation consultancy or training services or want to get
                in touch for any reason you can use the form below. Otherwise, you can send an email to
                piotrszewc.dev@gmail.com
            </p>
            <div class="col-md-10">
                <form class="shake" role="form" method="post" id="contactForm" action="{% url 'contact_page' %}"
                    name="contact-form" data-toggle="validator">
                    {% csrf_token %}

                    <!-- Name -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required
                            data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required
                            data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                        <label class="control-label">Subject</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required
                            data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required
                            data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-primary" type="submit" id="form-submit"><i
                                class="material-icons mdi mdi-message-outline"></i>
                            <span>Send Message</span></button>
                        <div id="msgSubmit" hidden>We will contact you shortly</div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        Regarding Your Question</br>   </br>
        I usually get back to people within a business day. If you’ve got tricky questions, it might take a bit
            longer ;)
    </div>
</div>

{% endblock %}