{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<main id="landing_page">
    <section class="pt-5 pb-5 pt-md-11 landing-page-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">

                    <img src="/static/images/landing_page_main.png" class="img-fluid landing-page-main-image" alt="...">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 ">

                    <h1 class="bd-title text-center text-md-left text-white">
                        Data Science Consultant for Business.
                    </h1>

                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        Hi I'm Piotr Szewc. I'm consulant experienced in applying AI and Machine Learning to business
                        problems.</p>
                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        I'm specialized in Natural Language Processing, creating Data Visualizations and helping
                        startups and enterprises to understand their data better.

                    </p>
                    <button type="button" class="btn btn-outline-light btn-lg" href="{% url 'contact_page' %}">LET’S
                        TALK</a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 py-md-5 pb-5 mb-3">
        <div class="container">
            <h2 class="text-center"><strong>Enabling Digital Transformation with Automation, Analytics & AI</strong>
            </h2>

            <p class="lead text-center">As a Machine Learning Consultant, I can support you with end-to-end Machine
                Learning, Data Science, AI & software development.

                <div class="row mt-5">
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/machine_learning.png' %}" class="" alt="...">
                        </div>
                        <h3>
                            Machine Learning
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Machine learning is the scientific study of algorithms and statistical models that computer
                            systems use to perform a specific task without using explicit instructions, relying on
                            patterns and inference instead. It is seen as a subset of artificial intelligence.
                        </p>

                    </div>
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/data_viz.png' %}" class="" alt="...">
                        </div>
                        <h3>
                            Data Visualization
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Data visualization is the graphic representation of data. It involves producing images that
                            communicate relationships among the represented data to viewers of the images. This
                            communication is achieved through the use of a systematic mapping between graphic marks and
                            data values in the creation of the visualization.
                        </p>

                    </div>
                    <div class="col-12 col-md-4">
                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/data_analysis.png' %}" class="" alt="...">
                        </div>
                        <h3>
                            Data Analysis
                        </h3>
                        <p class="text-muted mb-0">
                            Data analysis is a process of inspecting, cleansing, transforming and modeling data with the
                            goal of discovering useful information, informing conclusions and supporting
                            decision-making.
                        </p>

                    </div>
                </div>
        </div>
    </section>
    <section class="pt-5 pb-5 pt-md-11 landing-page-main-sub">
        <div class="container">
            <div class="text-center mt-3">
                <h2 class="text-white ">
                    <strong>Wherever You Are In The Process, I Can Help You</strong>
                </h2>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-sm-6 mb-lg-0 mt-5 ">
                    <div class="card border-primary hover-translate-y-n10 shadow h-100">
                        <div class="card-body ">
                            <img src="{% static 'images/idea.png' %}" class="landing_page_icon" alt="...">

                            <div class="pt-2 pb-3">
                                <h5>Frame the Problem</h5>
                                <p class="text-muted mb-0">The first step is where the objective is defined.
                                    Understanding of how machine learning will be used is important. At this step we
                                    also compare different scenarios and workarounds to given problem.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0 h-100">
                        <div class="card-body">
                            <img src="{% static 'images/database.png' %}" class="landing_page_icon" alt="...">

                            <div class="pt-2 pb-3">
                                <h5>Get the data and explore
                                </h5>
                                <p class="text-muted mb-0">This step is data-centric: we need to determine how much data
                                    is needed, what type of data is needed, where to get the data, assess legal
                                    obligations surrounding data acquisition... and get the data.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0">
                        <div class="card-body">
                            <img src="{% static 'images/mvp.png' %}" class="landing_page_icon" alt="...">

                            <div class="pt-2 pb-3">
                                <h5>Create MVP model
                                </h5>
                                <p class="text-muted mb-0">Time to model the data, and whittle the initial set of models
                                    down to what appear to be the most promising bunch. Models should be built,
                                    measured, and compared to one another, and the types of errors made for each model
                                    should be investigated, as should the most significant features for each algorithm
                                    used.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-4 ">
                <div class="col-lg-4 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0">
                        <div class="card-body">
                            <img src="{% static 'images/fine-tune.png' %}" class="landing_page_icon" alt="...">

                            <div class="pt-2 pb-3">
                                <h5>Fine-tune
                                </h5>
                                <p class="text-muted mb-0">The shortlisted models should now have their hyperparameters
                                    fine-tuned, and ensemble methods should be investigated at this stage.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0">
                        <div class="card-body">
                            <img src="{% static 'images/ml_system.png' %}" class="landing_page_icon" alt="...">

                            <div class="pt-2 pb-3">
                                <h5>Launch the ML system

                                </h5>
                                <p class="text-muted mb-0">Get the machine learning system ready for production; it will
                                    need to be plugged into some wider production system or strategy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact_form" class="flex-shrink-0 mt-5">
        <div class="content container">
            <div class="row align-items-center">
                <div class="col-6">
                    <!-- contact form -->
                    <div class="wow animated fadeInRight" data-wow-delay=".2s">
                        <h1 class="display-4">LET'S TALK</h1>

                        <p>
                            I would love to answer your questions. Tell me what you need!
                        </p>

                    </div>
                </div>
                <div class="col-6">
                    <div class="col-11">
                        <form class="shake" role="form" method="post" id="contactForm" action="{% url 'landing_page' %}"
                            name="contact-form" data-toggle="validator">
                            {% csrf_token %}

                            <!-- Name -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name" required
                                    data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" required
                                    data-error="Please enter your Email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                                <label class="control-label">Subject</label>
                                <input class="form-control" id="msg_subject" type="text" name="subject" required
                                    data-error="Please enter your message subject">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <label for="message" class="control-label">Message</label>
                                <textarea class="form-control" rows="3" id="message" name="message" required
                                    data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit mt-4 mb-5">
                                <button class="btn btn-primary" type="submit" id="form-submit"><i
                                        class="material-icons mdi mdi-message-outline"></i>
                                    <span>Send Message</span></button>
                                <div id="msgSubmit" hidden>We will contact you shortly</div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}