{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<main id="landing_page">
    <section class="pt-5 pb-5 pt-md-11 landing-page-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">

                    <img src="/static/images/landing_page_main.png" class="img-fluid landing-page-main-image" alt="...">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 ">

                    <h1 class="bd-title text-center text-md-left text-white">
                        Data Science Consultant for Business.
                    </h1>

                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        Hi I'm Piotr Szewc. I'm consulant experienced in applying AI and Machine Learning to business
                        problems.</p>
                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        I'm specialized in Natural Language Processing, creating Data Visualizations and helping
                        startups and enterprises to understand their data better.

                    </p>
                    <button type="button" class="btn btn-outline-light btn-lg" href="{% url 'contact_page' %}">LET’S
                        TALK</a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 py-md-5 pb-5">
        <div class="container">
            <h2 class="text-center">Enabling Digital Transformation with Automation, Analytics & AI</h2>

            <p class="lead text-center">As a Machine Learning Consultant, I can support you with end-to-end Machine
                Learning, Data Science, AI & software development.
                <br>
                <br>
                <div class="row">
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            icon
                        </div>
                        <h3>
                            Machine Learning
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Build robust data pipelines to unlock the power of AI using your data
                        </p>

                    </div>
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            icon
                        </div>
                        <h3>
                            Data Visualization
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Take a data-driven approach to stay ahead of your competition and new market entrants
                        </p>

                    </div>
                    <div class="col-12 col-md-4">
                        <div class="icon text-primary mb-3">
                            icon
                        </div>
                        <h3>
                            Data Analysis
                        </h3>
                        <p class="text-muted mb-0">
                            Enhance customer experience and reduce risk by turning a reactive approach into a proactive
                            one
                        </p>

                    </div>
                </div>
        </div>
    </section>
    <section class="pt-5 pb-5 pt-md-11 landing-page-main-sub">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">
                    <span class="text-white">
                        1. Frame the problem

                        This first step is where the objective is defined. Géron refers to objectives in business terms,
                        but this isn't strictly necessary. However, an understanding of how the machine learning
                        system's solution will ultimately be used is important.
                        <br>                        <br>

                        2. Get the data

                        This step is data-centric: determine how much data is needed, what type of data is needed, where
                        to get the data, assess legal obligations surrounding data acquisition...

                        <br>
                        <br>

                        3. Explore the data

                        This step in the checklist is akin to what is often referred to as Exploratory Data Analysis
                        (EDA). The goal is to try and gain insights from the data prior to modeling. Recall that in the
                        first step assumptions about the data were to be identified and explored; this is a good time to
                        more deeply investigate these assumptions.
                        <br>
                        <br>

                        4. Prepare the data

                        Time to apply data transformations you identified as being worthy in the previous step.

                    </span>

                </div>
                <div class="col-6 col-md-7 col-lg-6 order-md-1 ">

                    <h2 class="text-center text-white">
                        Here's how we are doing it
                    </h2>

                </div>
            </div>
        </div>
    </section>
    <section class="pt-5 pb-5 pt-md-11 landing-page-main-last-section">
        <div class="container pb-5">

            <h1 class="bd-title text-center ">
                Welcome to Piotr Szewc
            </h1>
            </br>
            <p class="lead text-center mb-6 mb-lg-8">
                Build a beautiful, modern website with flexible Bootstrap components built from scratch.
            </p>

        </div>
    </section>
</main>
{% endblock %}