{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<main id="landing_page">
    <section class="pt-5 pb-5 pt-md-11 landing-page-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">

                    <img src="/static/images/landing_page_main.png" class="img-fluid landing-page-main-image"
                        alt="Data Science - Landing Page">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 ">

                    <h1 class="bd-title text-center text-md-left text-white">
                        Data Science Consultant for Business.
                    </h1>

                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        Hi I'm Piotr Szewc. I'm a consultant experienced in applying AI and Machine Learning to business
                        problems.</p>
                    <p class="lead text-center text-md-left mb-6 mb-lg-8 text-white">
                        I'm specialized in Natural Language Processing, creating Data Visualizations and helping
                        startups and enterprises to understand their data better.

                    </p>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'contact_page' %}">LET’S
                        TALK</a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 py-md-5 pb-5 mb-3">
        <div class="container">
            <h2 class="text-center"><strong>Enabling Digital Transformation with Automation, Analytics & AI</strong>
            </h2>

            <p class="lead text-center">As a Machine Learning Consultant, I can support you with end-to-end Machine
                Learning, Data Science, AI & software development.

                <div class="row mt-5">
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/machine_learning.png' %}" class=""
                                alt="Data Science - Machine Learning">
                        </div>
                        <h3>
                            Machine Learning
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Machine learning is the scientific study of algorithms and statistical models that computer
                            systems use to perform a specific task without using explicit instructions, relying on
                            patterns and inference instead. It is seen as a subset of artificial intelligence.
                        </p>

                    </div>
                    <div class="col-12 col-md-4">

                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/data_viz.png' %}" class=""
                                alt="Data Science - Data Visualization">
                        </div>
                        <h3>
                            Data Visualization
                        </h3>
                        <p class="text-muted mb-6 mb-md-0">
                            Data visualization is the graphic representation of data. It involves producing images that
                            communicate relationships among the represented data to viewers of the images. This
                            communication is achieved through the use of a systematic mapping between graphic marks and
                            data values in the creation of the visualization.
                        </p>

                    </div>
                    <div class="col-12 col-md-4">
                        <div class="icon text-primary mb-3">
                            <img src="{% static 'images/data_analysis.png' %}" class=""
                                alt="Data Science - Data Analysis">
                        </div>
                        <h3>
                            Data Analysis
                        </h3>
                        <p class="text-muted mb-0">
                            Data analysis is a process of inspecting, cleansing, transforming and modeling data with the
                            goal of discovering useful information, informing conclusions and supporting
                            decision-making.
                        </p>

                    </div>
                </div>
        </div>
    </section>
    <section class="pt-5 pb-5 pt-md-11 landing-page-main-sub">
        <div class="container">
            <div class="text-center mt-3">
                <h2 class="text-white ">
                    <strong>Wherever You Are In The Process, I Can Help You</strong>
                </h2>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-5 col-sm-6 mb-lg-0 mt-5 ">
                    <div class="card border-primary hover-translate-y-n10 shadow h-100">
                        <div class="card-body ">
                            <img src="{% static 'images/idea.png' %}" class="landing_page_icon"
                                alt="Data Science - Idea">

                            <div class="pt-2 pb-3 m-4">
                                <h5>Step 1: Frame the Problem and Define Objective</h5>
                                <hr />
                                <p class="text-muted mb-0 ">Depending on different levels of company data maturity,
                                    expectations and objectives, define your Machine Learning and AI project objectives.
                                </p>
                                <p>
                                    <ul class="text-muted mb-0">
                                        <li>Define your idea</li>
                                        <li>Identify opportunities</li>
                                        <li>Verify assumptions</li>

                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0 h-100">
                        <div class="card-body">
                            <img src="{% static 'images/database.png' %}" class="landing_page_icon"
                                alt="Data Science - database">

                            <div class="pt-2 pb-3 m-4">
                                <h5>Step 2: Get the Data, Explore <br>and Verify Idea
                                </h5>
                                <hr />

                                <p class="text-muted mb-0">Explore your data and verify your idea, define best approach & basic assumptions.

                                </p>
                                <p>
                                    <ul class="text-muted mb-0">
                                        <li>Validate concept</li>
                                        <li>Determinate most promising models</li>

                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-5 col-sm-6 mb-lg-0 mt-5 ">
                    <div class="card border-primary hover-translate-y-n10 shadow h-100">
                        <div class="card-body ">
                            <img src="{% static 'images/mvp.png' %}" class="landing_page_icon"
                                alt="Data Science - MVP">

                            <div class="pt-2 pb-3 m-4">
                                <h5>Step 3: Build the Product - Start with MVP
                                </h5>
                                <hr />
                                <p class="text-muted mb-0 ">Build your product, create final model and measure its performance on the test set.

                                </p>
                                <p>
                                    <ul class="text-muted mb-0">
                                        <li>Present prototype to stakeholders
                                        </li>
                                        <li>Verify value with users</li>
                                        <li>Gather feedback and pivot</li>

                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 ">
                    <div class="card hover-translate-y-n10 border-primary shadow mb-lg-0 h-100">
                        <div class="card-body">
                            <img src="{% static 'images/ml_system.png' %}" class="landing_page_icon"
                                alt="Data Science - machine learning model">

                            <div class="pt-2 pb-3 m-4">
                                <h5>Step 4: Get Ready for Production and Go To the Next Level
                                </h5>
                                <hr />

                                <p class="text-muted mb-0">Get your solution ready for production.

                                </p>
                                <p>
                                    <ul class="text-muted mb-0">
                                        <li>Monitor your system live performance</li>
                                        <li>Retrain models on regular basis</li>
                                        <li>Develop your product further</li>

                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 py-md-5 pb-5 mb-3">
        <div class="container">
            <h2 class="text-center"><strong>Data Visualization</strong>
            </h2>
            <p class="lead text-center">Data visualization is a graphical representation of data and information.</p>
            <div class="row mt-45 align-items-center">
                <div class="col-lg-6 col-sm-12 ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 border rounded"
                                    src="{% static 'images/tableau_dashboard_landing_page.png' %}" alt="First slide"
                                    data-holder-rendered="true">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 border rounded"
                                    src="{% static 'images/pbi_dashboard_landing_page.png' %}" alt="First slide"
                                    data-holder-rendered="true">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 border rounded"
                                    src="{% static 'images/plotly_dashboard_landing_page.png' %}" alt="First slide"
                                    data-holder-rendered="true">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <p class="lead">By using a large number of different forms such as charts, graphs, maps and
                        dashboards
                        analyzing massive amounts of information it's not only easier to understand but also more
                        aesthetically
                        pleasing.</p>
                    <p class="lead">A great BI Dashboard will provide you with an at-a-glance overview of your business
                        performance and will help you to make data-driven decisions.</p>
                    <p class="lead"><strong>What Tools I can use to help you create great visualizations</strong></p>
                    <ul class="lead">
                        <li>Tableau (Desktop Specialist and Certified Associate)</li>
                        <li>PowerBI</li>
                        <li>Python</li>
                        <li>Excel</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5 pb-5 pt-md-11 landing-page-main-sub">
        <div class="container">
            <div class="text-center mt-3">
                <h2 class="text-white ">
                    <strong>Advanced Data Analytics and Reporting Automation</strong>
                </h2>
            </div>
            <div class="row justify-content-center  mb-4 ">
                <p class="lead text-white text-center">The main goal of Data Analysis is to discover useful information,
                    informing
                    conclusion and aid in business decision making by using the process of inspecting, cleansing,
                    transforming and modelling the data. In today’s business world, data analysis is playing a great
                    role in helping businesses
                    operate more effectively and making decisions more scientific.</p>

                <p class="lead text-white text-center">I can help you apply data analytics in your organization to
                    grow and optimize your business and it’s operations by adapting the latest on the market
                    advanced technologies.</p>
            </div>

        </div>
    </section>
    <section id="contact_form" class="flex-shrink-0 mt-5">
        <div class="content container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6">
                    <!-- contact form -->
                    <div class="mb-5">
                        <h1 class="display-4"><strong>LET'S TALK</strong></h1>

                        <p>
                            Whether you need a full product, consultation, data analysis or a data visualization. I will
                            help you find the best solutions. </p>

                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-6">
                    <div class="col-11">
                        <form class="shake" role="form" method="post" id="contactForm" action="{% url 'landing_page' %}"
                            name="contact-form" data-toggle="validator">
                            {% csrf_token %}

                            <!-- Name -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name" required
                                    data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" required
                                    data-error="Please enter your Email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                                <label class="control-label">Subject</label>
                                <input class="form-control" id="msg_subject" type="text" name="subject" required
                                    data-error="Please enter your message subject">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <label for="message" class="control-label">Message</label>
                                <textarea class="form-control" rows="3" id="message" name="message" required
                                    data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit mt-4 mb-5">
                                <button class="btn btn-primary" type="submit" id="form-submit"><i
                                        class="material-icons mdi mdi-message-outline"></i>
                                    <span>Send Message</span></button>
                                <div id="msgSubmit" hidden>We will contact you shortly</div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}