{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- model Section -->
<section class=" cointainer mt-5">

    <div class="col-8 lead justify-content-md-right">


        <p>Are you</p>
        <ul>
            <li>male</li>
            <li>female</li>
        </ul>
        <p>What is your age group?</p>
        <ul>
            <li>0-16</li>
            <li>17-32</li>
            <li>33-48</li>
            <li>49-64</li>
            <li>64+</li>
        </ul>
        <select class="form-control">
            <option>0-16</option>
            <option>17-32</option>
            <option>33-48</option>
            <option>49-64</option>
            <option>64+</option>

          </select>
        <p>Select your Pclass</p>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <p>Did you travel with siblings?</p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>

    <p>Embark Location</p>
    <ul>
        <li>S</li>
        <li>C</li>
        <li>Q</li>
    </ul>

    <p>Select your title</p>
    <ul>
        <li>Master</li>
        <li>Miss</li>
        <li>Mr</li>
        <li>Mrs</li>
        <li>Rare</li>

    </ul>
    </div>
</section>


{% endblock %}