{% extends 'main/base.html' %}

{% block content %}
<div class="col-12">
<div class="row mt-3">
        {% for post in posts %}
        <div class="post bg-white rounded p-4 col-6 ">
                {% if post.post_image %}
                <div><a href="{% url 'post_detail' slug=post.slug pk=post.pk %}">
                    <img class="border border-dark" src="{{ post.post_image.url|default_if_none:'#' }}"
                        alt="" width="100%"> </a>
                </div>
                {% endif %}
        
                <div class="mt-2">{{ post.author.first_name }} {{ post.author.last_name }}</div>
                <h2 class="blog-post-h2 mt-2"><a class="text-grey"
                        href="{% url 'post_detail' slug=post.slug pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="mt-3 text-justify">{{ post.excerpt|linebreaksbr }}</p>
                <a href="{% url 'post_detail' slug=post.slug pk=post.pk %}" role="button" aria-pressed="true"
                    class="btn btn-outline-primary">Read More</a>
            </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}