{% extends 'main/base.html' %}
{% block content %}

<main id="post_details">

    <section id="post" style="padding-top: 5vh">
        <div class="d-flex justify-content-center text-justify">
            <div class="col-5">
                
                <div>
                    {% for item in post.categories.all %}
                    <button class="btn btn-outline-primary btn-sm p-1 mr-1">

                        {{ item }}{% if not forloop.last %} {% endif %}</button>
                    {% endfor %}
                </div>
                <h1 class='pb-3 mt-3 font-weight-bold'>{{ post.title }}</h1>
                <h2 class="pb-3 excerpt">{{ post.excerpt|linebreaksbr }}</h2>
                <div class='blog-text pb-5'>
                    <p>{{ post.text|safe }}</p>
                </div>
                {% if user.is_authenticated %}

                <a class="btn btn-outline-primary"
                    href="{% url 'post_edit' slug=post.slug pk=post.pk %}"><span>edit</span></a>
                {% endif %}

            </div>
        </div>
        </section>
        </main>
        {% endblock %}