
body {
  color:#354d6c;
  font-family: 'Roboto', sans-serif !important;
  background-color: #fafafa !important;


}
html {
  position: relative;
  min-height: 100%;
}
.text-navblue:not(.btn) {
  color: #032147 !important;
  text-decoration: none !important;
  font-size: 1.05em;
  }
  
.text-navblue:hover:not(.btn), .text-navblue:focus:not(.btn) {
  color: #007BFF !important;
  text-decoration: none !important;
  
  }

.text-grey {
    color: #4e627e !important;
    text-decoration: none !important;
  }
  
.text-grey:hover, .text-grey:focus {
    color: #007BFF !important;
    text-decoration: none !important;
  }

.post {
  color: #4e627e !important;
  margin-bottom: 2.5em;
}

h1, h2, h3, h4 {
  color: #032147 !important;
  text-decoration: none !important;
}
.navbar-center {
  justify-content: center !important;
  }

.blog-post-h2 {
  font-size: 1.25em !important;
  font-weight: 700!important;
}

.excerpt {
  font-size: 1.3em;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4em;
  line-height: 60px; /* Vertically center the text there */
  color:#3e3e3e;
  background-color: #F4F4F4;
}


.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.blog-text h3 {
  font-size: 1.2em;

}

.blog-text h2 {
  font-size: 1.5em;
}

.blog-text{
  font-size: 1.05em;
}

main {
  margin-bottom: 5em;
  font-size: 1.05em !important;

}

.post_image_resize {
  max-width:100%;
  height: auto;
}


.nav-top > a:hover:not(.img_remove_border):not(.btn)  {
  border-bottom: 3px solid #007BFF !important;
  padding-bottom: 26px !important;

}

.nav-top > a.active:not(.img_remove_border):not(.btn) {
  border-bottom: 3px solid #007BFF !important; 
  padding-bottom: 26px !important;
} 

