
body {
  color:#354d6c;
  font-family: 'Roboto', sans-serif !important;


}
html {
  position: relative;
  min-height: 100%;
}
.text-navblue:not(.btn) {
  color: #032147 !important;
  text-decoration: none !important;
  font-size: 1.05em;
  }
  
.text-navblue:hover:not(.btn), .text-navblue:focus:not(.btn) {
  color: #2D8FE2 !important;
  text-decoration: none !important;
  
  }

.text-grey {
    color: #032147 !important;
    text-decoration: none !important;
  }
  
.text-grey:hover, .text-grey:focus {
    color: #2D8FE2 !important;
    text-decoration: none !important;
  }

.post {
  color: #032147 !important;
  margin-bottom: 2.5em;
}

h1, h2, h3, h4 {
  color:#032147 !important;
}
.navbar-center {
  justify-content: center !important;
  }

.blog-post-h2 {
  font-size: 1.25em !important;
  font-weight: 700!important;
}

.excerpt {
  font-size: 1.3em;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4em;
  line-height: 60px; /* Vertically center the text there */
  color:#3e3e3e;
  background-color: #F4F4F4;
}


.no-padding {
  padding-left: 0;
  padding-right: 0;

}

.blog-text h3 {
  font-size: 1.2em;

}

.blog-text h2 {
  font-size: 1.5em;
}

.blog-text{
  font-size: 1.05em;
}

main {
  margin-bottom: 5em;
  font-size: 1.05em !important;
}

.post_image_resize {
  max-width:100%;
  height: auto;
}

@media screen and (min-width: 800px) {

  .nav-top > a:hover:not(.img_remove_border):not(.btn)  {
    border-bottom: 3px solid #2D8FE2 !important;
    padding-bottom: 26px !important;

  }

  .nav-top > a.active:not(.img_remove_border):not(.btn) {
    border-bottom: 3px solid #2D8FE2 !important; 
    padding-bottom: 26px !important;
  } 

}

.top-block {
  background: #032147;
  height: 50vh;
  padding: 5vh;
  font-size: 1.05em !important;
  color:#9ea9b8;

}

.top-block-white-bg {
  height: 50vh;
  padding: 5vh;
  font-size: 1.05em !important;

}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 200;
  font-size: 3rem;
  
}

.landing-page-main {
  background: #4A58DF;
  font-size: 1.05em !important;
  color:#032147;
}

.landing-page-main-sub {
  background: #032147;
  font-size: 1.05em !important;
  color:#032147;
}

.landing-page-images-pc {
  height: 250px;
  width: auto;
  float: right;

}

.landing-page-main-last-section {
  font-size: 1.05em !important;
  color:#032147;
}

.landing-page-main-image {
  height: auto;
  width:  75vh;
  float: right;

}

.landing_page_icon {
  height: 50px;
  width: auto;
}